body, html, h1 {
    padding: 0;
    margin: 0;
}

html {
    background-color: #16161D;
    background: linear-gradient(#333343, 15%, #16161d);
    font-family: 'Open Sans', sans-serif;
    height: 100%;
    width: 100%;
}

a {
    text-decoration: none;
}

.page {
    display: flex;
    flex-wrap: wrap;
}

.full-width {
    width: 100%;
}

h1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.logo {
    width: 100%;
    height: auto;
}

.social-icons {
    padding: 15px 20px;
    max-width: 419px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-icons a {
    font-size: 45px;
}

.social-icons a {
    color: #f8faa6;
    padding: 5px;
    transition: color 400ms ease-in-out;
}

.social-icons a:hover {
    color: #ffffff;
}

.social-icons a:active {
    color: #f8faa6;
}

@media screen and (min-width: 168px) {
    .social-icons {
        display: grid;
        grid: auto-flow / 1fr 1fr;
        justify-items: center;
    }
}

@media screen and (min-width: 360px) {
    .logo {
        width: 300px;
    }
}

@media screen and (min-width: 460px) {
    .page {
        padding: 60px;
    }

}