@tailwind base;
@tailwind components;
@tailwind utilities;

// https://tailwindcss.com/docs/customizing-colors#using-css-variables
@layer base {
  :root {
    --color-tuna: 51 51 67;
    --color-woodsmoke: 22 22 29;
  }

  html,
  body,
  #__nuxt {
    height: 100%;
  }
}
