@import "utils";
@import "variables";

@tailwind base;
@tailwind components;
@tailwind utilities;

// https://tailwindcss.com/docs/customizing-colors#using-css-variables
@layer base {
  :root {
    --color-tuna: #{format-color-for-tailwind($color-tuna)};
    --color-woodsmoke: #{format-color-for-tailwind($color-woodsmoke)};
    --color-purple: #{format-color-for-tailwind($color-purple)};
  }

  html,
  body,
  #__nuxt {
    height: 100%;
  }
}
