$color-tuna: rgb(51, 51, 67);
$color-woodsmoke: rgb(22, 22, 29);
$color-violetpink: rgb(238, 107, 255);
$color-purple: rgb(207, 0, 234);
$color-barneypurple: rgb(155, 8, 160);
$color-royalpurple: rgb(86, 0, 97);
$color-buff: rgb(244, 247, 163);
$color-springsun: rgb(246, 255, 216);
